.cuerpo {
  display: flex;
  background-color: #dad158;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.boton {
  margin-top: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
  color: #ffffff;
}

/* Estilos calculadora */
body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
#contenedor {
  max-width: 1024px;
  margin: 0 auto;
}
.cajacentro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12% auto !important;
  width: 904px;
  height: 100%;
  background-color: #212121;
  padding: 3%;
}
aside {
  color: #ffffff;
  margin: 10px 0;
  text-align: right;
}
.tamañoresultados {
  font-size: 0.6rem;
}
.columna1 {
  height: 100%;
  width: 65%;
}
.columna2 {
  height: 100%;
  width: 25%;
}
.gridbotones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}
button {
  background-color: #212121;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 0;
  cursor: pointer;
}
button:hover {
  background-color: #424242;
}
