body{
    background-color: #67babdea;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #596666;
}
.imagen{
    height: 300px;
}
nav a{
    color: #a34343;
    text-decoration: none;

}
nav a:hover{
    color: aquamarine;
    text-decoration: underline;
}
h1, p, div, nav{
    text-align: center;
}
div{
    border: 1px solid #a34343;
}
ul li{
    color: #e24b41;
}
ul li:nth-child(even){
    font-style: italic;
    color: #160c0c;
}
/* even pares - odd impares */