body{
    background:#753188;
    color: white;
    font-family: 'Lato', sans-serif;
}
/* h1{
    background:#430f58;
    color: yellowgreen;
    font: 400;
    text-align: center;
    padding: 15px;

} */
h1:hover{
    color: tomato;
}

.redes-sociales{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 30px;
    background:#430f58;
    color: yellowgreen;
    border-radius: 5px;

}

.imagenes{
    display: flex;
    flex-wrap: nowrap;
    height:70px;
    margin-left: 300px;
    
    
}
.tabla{
    background:#430f58;
    font: 300;
    text-align: center;
    border-radius: 5px;
    margin-top: 55px;
    margin-left: 480px;
    padding: 5px;
    border: 10px;
    border-color: yellow;

}

a{

    color: yellowgreen;
    text-decoration: none;
    font-weight:400 ;

}
a:hover{
color: tomato;
}

label{
    background:#430f58;
    font: 300;
    text-align: center;
    border-radius: 5px;
}

footer{
    
    background:#430f58;
    color: yellowgreen;
    font: 300;
    text-align: center;
    border-radius: 5px;
    margin-top: 420px;  
}