body {
    margin: 0;
}

main {
    display: grid;
    background-color: #90caf9;
    color: #ffffff;
    column-gap: 10px;
    text-align: center;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto;

}

article {
    height: 10vh;
    background-color: #0d47a1;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.item3 {
    grid-row-start:1;
    grid-row-end: 3;
}